table {
    border-collapse: collapse;
    background-color: lightblue;
}

table, th, td {
    border: 1px solid black;
}

h1 {
    border: 2px solid green;
    border-radius: 5px;
    text-align: center;
}
