.content {
  background-color:#74AFAD;
}

.content p {
  font-family:"Verdana", sans-serif;
  color:black;
}

img {
  width:100%;
}

hr.style6 {
	background-color: #fff;
	border-top: 2px dotted #8c8b8b;
	color:black;
}

ul {
    background: #D9853B;
    padding: 20px;
}

ul li {
    background: LightSalmon;
    padding: 5px;
    margin-left: 35px;
}
